{% extends 'base.html' %}

{% block nav %}
    {% if perms.webapp.change_product %}
        <li class="nav-item"><a class="nav-link" href="{% url "product_update" product.id %}">Update Product</a></li>
    {% endif %}
    {% if perms.webapp.delete_product %}
    <li class="nav-item"><a class="nav-link" href="{% url "product_delete" product.id %}">Delete Product</a></li>
    {% endif %}
    {% if user.is_authenticated %}
    <li class="nav-item"><a class="nav-link" href="{% url "review_create" product.id %}">Add Review</a></li>
    {% endif %}
{% endblock nav %}


{% block content %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                     {% if product.image %}
                            <img class="image" src="{{ product.image.url }}" width="400" height="400" alt="image">
                            {% else %}
                            <img class="image" src="/uploads/pictures/blank-img.jpeg" width="250" height="250" alt="image">
                        {% endif %}
                    <h5 class="card-title">{{ product.name }}</h5>
                                        <p class="card-text"><small class="text-muted">{{ product.get_category_display }}</small></p>
                    <p>{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>



    {% include 'partial/reviews.html' %}



{% endblock content %}